* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

body {
    height: 90vh;
    width: 100vw;
    position: relative;
    top: 5vh;
    margin: 0;
    background-color: #e4e3e3;
}

body::-webkit-scrollbar {
    display: none;
}

html {
    height: 100vh;
}

i.fab, i.far {
    font-size: 20px;
    color: #e4e3e3;
}

.header__nav {
    width: 100vw;
    height: 5vh;
    position: fixed;
    top: 0px;
    background-color: #3b6978;
    color: #e4e3e3;
    z-index: 1;
}

.page__title {
    float: left;
    margin: 0;
    font-size: 18px;
    padding: 5px 10px;
}

.nav__container {
    display: flex;
    float: right;
}

a.nav-link{
    height:100%;
    font-size: 18px;
    padding: 5px 10px;
    color: #e4e3e3;
}

.about__container {
    display: flex;
    justify-content: center;
    margin: 50px auto;
    padding-top: 7vh;
}

.section__title {
    text-align: center;
    margin-bottom: 0px;
    padding-top: 7vh;
}
.project__container, .skill__container {
    margin: 30px auto;
    display: flex;
    justify-content: center;
}

.project__card {
    font-size: 12px;
    width: 200px;
    height: 200px;
}

.skill__card {
    margin: 15px;
}

footer {
    width: 100vw;
    height: 5vh;
    position: fixed;
    bottom: 0px;
    background-color: #3b6978;
    padding: 10px 10px;
    z-index: 1;
}

.message__form {
    display: none;
}

.message__form__link {
    float: right;
}


.external__link__container {
    float: left;
}
.landscape {
    height: 500px;
    width: 100vw;
    object-fit: cover;
}

.headshot {
    height: 200px;
    width: 175px;
    border-radius: 100%;
    object-fit: cover;
}